@model GMSPPS.GPMS_PROVIDER_SUPPLY

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GPMS_PROVIDER_SUPPLY</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SUPPLY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SUPPLY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GPMS_PROVIDER.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GPMS_PROVIDER.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
